In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
import torch
print(torch.__version__)

2.8.0+cu129

In [16]:
dl = pd.read_csv(r'C:\Users\adity\Desktop\AI\light\competetions\elasticsearch\data\SSDP_Flood_labels.csv\SSDP_Flood_labels.csv')
dl.head()

   Unnamed: 0  x
0           1  0
1           2  0
2           3  0
3           4  0
4           5  0

In [17]:
dl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4077266 entries, 0 to 4077265
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   x           int64
dtypes: int64(2)
memory usage: 62.2 MB

In [18]:
dl["x"].value_counts()

x
0    2637662
1    1439604
Name: count, dtype: int64

In [1]:
import dpkt
import socket
import csv

pcap_file = r"C:\Users\adity\Desktop\AI\light\competetions\elasticsearch\data\SSDP_Flood_pcap.pcap\SSDP_Flood_pcap.pcap"
output_file = "ssdp_packets_rich.csv"

def inet_to_str(inet):
    try:
        return socket.inet_ntop(socket.AF_INET, inet)
    except:
        return None

prev_ts = None

with open(pcap_file, 'rb') as f, open(output_file, 'w', newline='') as out:
    pcap = dpkt.pcapng.Reader(f)
    writer = csv.writer(out)

    writer.writerow([
        "packet_index",
        "timestamp",
        "inter_arrival_time",
        "src_ip",
        "dst_ip",
        "src_port",
        "dst_port",
        "protocol",
        "ttl",
        "ip_header_len",
        "tcp_flags",
        "udp_length",
        "payload_length",
        "packet_length"
    ])

    for i, (ts, buf) in enumerate(pcap):
        try:
            eth = dpkt.ethernet.Ethernet(buf)
        except:
            continue

        inter_arrival = 0
        if prev_ts is not None:
            inter_arrival = ts - prev_ts
        prev_ts = ts

        src_ip = None
        dst_ip = None
        src_port = None
        dst_port = None
        protocol = None
        ttl = None
        ip_header_len = None
        tcp_flags = None
        udp_length = None
        payload_length = None

        if isinstance(eth.data, dpkt.ip.IP):
            ip = eth.data
            src_ip = inet_to_str(ip.src)
            dst_ip = inet_to_str(ip.dst)
            protocol = ip.p
            ttl = ip.ttl
            ip_header_len = ip.hl * 4

            payload_length = len(ip.data)

            if isinstance(ip.data, dpkt.tcp.TCP):
                src_port = ip.data.sport
                dst_port = ip.data.dport
                tcp_flags = ip.data.flags
                payload_length = len(ip.data.data)

            elif isinstance(ip.data, dpkt.udp.UDP):
                src_port = ip.data.sport
                dst_port = ip.data.dport
                udp_length = ip.data.ulen
                payload_length = len(ip.data.data)

        writer.writerow([
            i,
            ts,
            inter_arrival,
            src_ip,
            dst_ip,
            src_port,
            dst_port,
            protocol,
            ttl,
            ip_header_len,
            tcp_flags,
            udp_length,
            payload_length,
            len(buf)
        ])

print("Rich conversion complete.")

Rich conversion complete.

In [4]:
df = pd.read_csv(r'C:\Users\adity\Desktop\AI\light\competetions\elasticsearch\actualcode\EDA\ssdp_packets_rich.csv')
df.head()

,packet_index,timestamp,inter_arrival_time,src_ip,dst_ip,src_port,dst_port,protocol,ttl,ip_header_len,tcp_flags,udp_length,payload_length,packet_length
0,0,1.488016e+09,0.000000,192.168.3.13,192.168.100.5,51002.0,11442.0,17.0,64.0,20.0,NaN,175.0,158.0,200
1,1,1.488016e+09,0.000820,192.168.3.13,192.168.100.5,51002.0,11442.0,17.0,64.0,20.0,NaN,1480.0,158.0,200
2,2,1.488016e+09,0.000032,192.168.3.13,192.168.100.5,NaN,NaN,17.0,64.0,20.0,NaN,NaN,64.0,98
3,3,1.488016e+09,0.000212,192.168.3.13,192.168.100.5,51002.0,11442.0,17.0,64.0,20.0,NaN,1480.0,158.0,200
4,4,1.488016e+09,0.000044,192.168.3.13,192.168.100.5,NaN,NaN,17.0,64.0,20.0,NaN,NaN,64.0,98

In [18]:
import pandas as pd

packets = sum(1 for _ in open(r'C:\Users\adity\Desktop\AI\light\competetions\elasticsearch\actualcode\EDA\ssdp_packets_rich.csv')) - 1
labels = sum(1 for _ in open(r'C:\Users\adity\Desktop\AI\light\competetions\elasticsearch\data\SSDP_Flood_labels.csv\SSDP_Flood_labels.csv')) - 1

print("Packets:", packets)
print("Labels:", labels)

Packets: 4077266
Labels: 4077266

In [19]:
df = df.sort_values("timestamp").reset_index(drop=True)
df["inter_arrival_time"] = df["timestamp"].diff().fillna(0)
df.head()

,packet_index,timestamp,inter_arrival_time,src_ip,dst_ip,src_port,dst_port,protocol,ttl,ip_header_len,tcp_flags,udp_length,payload_length,packet_length
0,0,1.488016e+09,0.000000,192.168.3.13,192.168.100.5,51002.0,11442.0,17.0,64.0,20.0,NaN,175.0,158.0,200
1,1,1.488016e+09,0.000820,192.168.3.13,192.168.100.5,51002.0,11442.0,17.0,64.0,20.0,NaN,1480.0,158.0,200
2,2,1.488016e+09,0.000032,192.168.3.13,192.168.100.5,NaN,NaN,17.0,64.0,20.0,NaN,NaN,64.0,98
3,3,1.488016e+09,0.000212,192.168.3.13,192.168.100.5,51002.0,11442.0,17.0,64.0,20.0,NaN,1480.0,158.0,200
4,4,1.488016e+09,0.000044,192.168.3.13,192.168.100.5,NaN,NaN,17.0,64.0,20.0,NaN,NaN,64.0,98